name: Run code linters

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - review_requested

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code base
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run flake8
        run: |
          flake8 **/*.py --max-line-length=119
